---
import Layout from '@layouts/Layout.astro'

interface Props {
  bodyClass: string
  mainClass: string
  pageTitle: string
  pageTLDR: string
}

const bodyClass = 'home'
const mainClass = 'no_padding'
const pageTitle = 'SURFCAMP'
const pageTLDR = 'Dreaming of an effortless access to surf?'
---

<Layout bodyClass="home" pageTitle="Rocco Marosi" mainClass="" pageTLDR="">
  <div></div>
</Layout>
