---
import Layout from '@layouts/Layout.astro'

interface Props {
  pageTitle: string
  pageTLDR: string
  bodyClass: string
  mainClass: string
  ogImage?: string
}

const pageTitle = 'Architecture Photography'
const pageTLDR =
  'To compete on today markets, your property deserves HIGH QUALITY PHOTOGRAPHY'
const bodyClass = 'home'
const mainClass = 'no_padding'
---

<Layout
  bodyClass={bodyClass}
  pageTitle={pageTitle}
  mainClass={mainClass}
  pageTLDR={pageTLDR}
  ogImage="../og_home.jpg">
  <div class="container"></div>
</Layout>
