---
import { Image } from 'astro:assets'

interface Props {
  building: string
  country?: string | null | undefined
  cover: any
}

const { building, country, cover } = Astro.props
---

<div class="card">
  <Image
    width={960}
    height={640}
    src={cover}
    alt={building}
    format="avif"
    quality="mid"
  />
  <div class="centre">{building}, {country}</div>
</div>
<style lang="scss">
  .card {
    img {
      width: fit-content;
      padding-bottom: 0 !important;
    }
  }
</style>
