---
import { Icon } from 'astro-icon'
---

<footer class="container">
  <a title="back to top" href="#top">
    <Icon name="up" />
  </a>

  <a class="title" href="/" title="back to home page">
    <h2 class="h3">Rocco Marosi</h2>
    <div class="footer_what">Architecture Photography</div>
  </a>

  <div class="contacts">
    <a
      title="send me an email"
      class="footer_list_link mail open_in_new_window"
      href="mailto:rocco.marosi@gmail.com"
      target="_blank"
      rel="noopener">
      <Icon name="mail" />
    </a>

    <a
      title="connect using instagram"
      class="footer_list_link gplus open_in_new_window"
      href="https://www.instagram.com/rocco.marosi"
      target="_blank"
      rel="noopener">
      <Icon name="instagram" />
    </a>

    <a
      title="make QR code big"
      class="footer_list_link qr_switch"
      id="qr_switch">
      <Icon name="qr" />
    </a>
  </div>

  <div class="copyright">
    2023 © Rocco Marosi. All rights reserved. <br />Powered by <a
      title="website powered by Junglestar, a one stop shop for all your internet needs - check it out"
      href="https://junglestar.org"
      target="_blank"
      class="open_in_new_window"
      rel="noopener"
      >Junglestar.
    </a>
  </div>
</footer>

<style>
  svg {
    width: 50px;
    height: 50px;
  }
  h2 {
    margin: 0 !important;
  }
  a:hover {
    text-decoration: none;
  }
  .title {
    display: block;
    padding-bottom: var(--spacing);
  }
  .copyright {
    padding-top: var(--spacing);
    font-size: initial;
  }
</style>
