---
import Nav from '@components/Nav.astro'
---

<header>
  <a href="/" title="back to home page">
    <h1 class="who">rocco <br />marosi</h1>
    <span class="what">architecture <br />photography</span>
  </a>
  <Nav />
</header>
<style lang="scss">
  header {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw !important;
    height: 100dvh !important;
    &:before {
      content: '';
      position: absolute;
      top: var(--corner_distance);
      right: var(--corner_distance);
      width: var(--corner_dimension);
      height: var(--corner_dimension);
      border-top: 3px solid #666666;
      border-right: 3px solid #666666;
      border-radius: 3px;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: var(--corner_distance);
      left: var(--corner_distance);
      width: var(--corner_dimension);
      height: var(--corner_dimension);
      border-bottom: 3px solid #666666;
      border-left: 3px solid #666666;
      border-radius: 3px;
    }
  }

  a {
    font-size: clamp(3vw, 30px, 100px);
    width: 100%;
    position: absolute;
    text-align: center;
    top: calc(var(--corner_distance) * 3);
    padding-left: var(--corner_distance);
    padding-right: var(--corner_distance);
    left: 0;
    @media only screen and (min-width: 720px) {
      text-align: left;
      top: var(--corner_distance);
    }
    &:hover {
      text-decoration: none;
    }
    @media (orientation: landscape) and (max-height: 450px) {
      top: calc(var(--corner_distance) * 2);
      text-align: center;
    }
  }

  br {
    @media only screen and (min-width: 720px) {
      display: none;
    }
  }
  .what {
    display: block;
    letter-spacing: -1px;
    color: #666666;
    text-transform: uppercase;
    line-height: 1.075;
    padding-top: 4px;
  }
  .who {
    margin: 0 !important;
    font-size: clamp(3rem, 2.5836rem + 1.7532vw, 4.6875rem);
    line-height: 1;
  }
</style>
