---
import Nav from '@components/Nav.astro'
---

<header>
  <div class="title">
    <a title="back to home page" href="/">
      <h1 class="who">rocco <br />marosi</h1>
      <span class="what">architecture <br />photography</span>
    </a>
  </div>
  <Nav />
</header>
<style lang="scss">
  header {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw !important;
    height: 100vh !important;
  }
  .title {
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-size: clamp(3vw, 30px, 100px);
    line-height: 1;

    &:before {
      content: '';
      position: absolute;
      top: var(--corner_distance);
      right: var(--corner_distance);
      width: var(--corner_dimension);
      height: var(--corner_dimension);
      border-top: 3px solid #666666;
      border-right: 3px solid #666666;
      border-radius: 3px;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: var(--corner_distance);
      left: var(--corner_distance);
      width: var(--corner_dimension);
      height: var(--corner_dimension);
      border-bottom: 3px solid #666666;
      border-left: 3px solid #666666;
      border-radius: 3px;
    }
  }

  a {
    width: 100%;
    position: absolute;
    text-align: center;
    top: calc(var(--corner_distance) * 2);
    padding-left: var(--corner_distance);
    padding-right: var(--corner_distance);
    left: 0;
    &:hover {
      text-decoration: none;
    }
    @media (orientation: landscape) {
      top: calc(var(--corner_distance) * 1);
    }
  }

  br {
    @media only screen and (min-width: 641px) {
      display: none;
    }
  }
  .what {
    display: block;
    letter-spacing: -1px;
    color: #666666;
    text-transform: uppercase;
    line-height: 1.075;
    padding-top: 4px;
  }
  .who {
    margin: 0;
    padding: 0;
    font-size: clamp(6vw, 58px, 150px);
    line-height: 1;
    padding-top: var(--corner_distance);
  }
</style>
