---
---

<nav>
  <a
    role="button"
    class="contrast outline"
    title="residential architecture photography"
    href="/residential/">residential</a
  >

  <a
    role="button"
    class="contrast outline"
    title="commercial architecture photography"
    href="/commercial/">commercial</a
  >

  <a
    role="button"
    class="contrast outline"
    title="landmarks architecture photography"
    href="/landmarks/">landmarks</a
  >

  <a
    role="button"
    class="contrast outline"
    title="Rocco Marosi is available for Architecture Photography shootings everywhere on planet earth, excluding Antartica! | rocco.marosi@gmail.com"
    href="mailto:rocco.marosi@gmail.com"
    target="_blank"
    class="open_in_new_window"
    rel="noopener">
    Get a quote
  </a>
</nav>
<style lang="scss">
  nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    padding: var(--corner_distance);
    right: var(--corner_distance);
    left: var(--corner_distance);
    bottom: calc(var(--corner_distance) * 1.75);
    @media only screen and (min-width: 641px) {
      bottom: 0;
      right: 0;
      left: 0;
      align-items: end;
    }
    @media (orientation: landscape) and (max-height: 450px) {
      flex-direction: row;
      bottom: 1rem;
      right: 1.5rem;
      left: 1.5rem;
      justify-content: space-around !important;
    }
  }

  a {
    text-transform: uppercase;
    min-width: 220px;
    max-width: fit-content;
    border-radius: 0 !important;
    border-width: 2px !important;
    margin: 5px 0 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    @media only screen and (min-width: 641px) {
      text-align: right !important;
      min-width: 250px;
    }
    @media (orientation: landscape) and (max-height: 450px) {
      width: fit-content;
      min-width: fit-content;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
</style>
